
<div >
    <h1 class="boder">Bánh tao đâu</h1>
    <div class="kea">
        <p class="image"><span class="kks">Ô</span>ng thầy đồ nọ vốn tính tham ăn. Bữa ấy có người mời đi ăn cỗ,
            thầy mới cho một cậu học trò nhỏ theo hầu. Ðến kênh, 
            thầy ngồi vào mâm cỗ, bảo học trò đứng bên cạnh. <br>
             Trông thấy trong mâm cỗ còn nhiều bánh trái, 
            bụng no nhưng thầy lại mong muốn bỏ túi mấy chiếc.
            Lo lắng mọi người xung quanh nhìn thấy thì mất thể diện, <br> thầy mới cầm bánh thản nhiên đưa cho học trò, bảo:</p>
            <br>
            <br>
            <div>
                <img width="350px" src = "https://vcdn1-vnexpress.vnecdn.net/2018/09/07/9b7cc8ef2f86560a9b7664e7b34835-1220-7966-1536312200.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=Ea-qgfACloZwf9-5WzL7dg"/>
            </div>
            <div class="red-33">
                <p class="image">
                    - Này, con cầm lấy! <br>
                    Vừa đưa, thầy vừa nháy ra hiệu bảo cất đưa về cho thầy. <br>
                    Cậu học trò không hiểu được cái nháy mắt thâm thúy của thầy, tưởng thầy cho thật, liền bóc ngay ra ăn. <br>    
                    Thầy nhìn thấy, giận lắm, nhưng giữa đông đủ người khác, không dám mắng. Ðến lúc ra về, thầy còn tiếc mấy cái bánh,
                    mong muốn kiếm cớ để trả thù học trò. Khi hai thầy trò vừa mới cùng đi ngang nhau, thầy bèn phản ứng mắng học trò: <br>
                    - Mày đồng vai phải lứa với tao hay sao mà dám đi ngang hàng? <br>
                    Trò lo lắng, vội vàng đi nhanh lên trước. Thầy lại gắt: <br>
                    - Mày là bố tao hay sao mà dám tiên phong tao? <br>
                    Trò tụt lùi lại sau. Thầy lại quát: <br></p>
                 <div class="us">
                    <p class="image">
                        - Tao có phải là thằng tù đâu mà mày phải đi sau áp giải. <br>
                        Trò ngơ ngác quay lại thưa: <br>
                        - Bẩm bẩm, con đi thế nào thầy cũng mắng, vậy xin thầy bảo cho con nên thế nào cho phải ạ? <br>
                        Thầy chẳng ngần ngại gì nữa, hầm hầm bảo: <br>
                        - Thế bánh tao đâu…?
                    </p>
                 </div>   
            </div>
            <div class="left">
                <img width="300px" src = "https://toplist.vn/images/800px/thay-do-lam-bieng-592163.jpg"/> 
            </div>
      </div>
</div>
<div>
    <h1 class="boder1">bạn đọc bình luận:</h1>
    <div class="ucuc">
        <p>
            <b class="mu1">Câu chuyện thật thú vị</b> 
        <img class="ksx" width="100px" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuWPkoD_BlrMnQbA3rx3OFD-xHD86fc3S3XA&usqp=CAU"/>
        </p>
         <hr>
         <p>
            <b class="mu1">Thật cảm động</b> 
        <img class="ksx1" width="100px" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWJbjSzjWRjMKSAcW807ZpWVdeKNmk80dQFpdRYcCE7tw8mb77TlR9XIfrngxe-HErC5A&usqp=CAU"/>
        </p>
         <hr>
    </div>
   
    
</div>
