
.boder{
    width: 100%;
    height: 50%;
    border: 2px solid green;
    color: orange;
    text-align: center;
}
.image{
    line-height: 1.5;
}
.boder1{
    color: white;
    width: 100%;
    background-color: green;
    text-align: right;
}
.kea{
    width: 1400px;
    height: 500px;
    margin: 0 auto;
}
.kks{
    font-size: 24px;
    color: rgb(255, 128, 149);

}
.red-33{
    width: 700px;
    height: auto;
    position: relative;
    left: 25em;
    bottom: 16em;
}
.us{
    position: relative;
    right: 25em;
}
.ucuc{
    width: 1400px;
    margin: 0 auto;
}
.left{
position: relative;
left: 70em;
bottom: 47em;
}
.mu1{
    position: relative;
    font-size: 20px;
    bottom: 1em;
}
.ksx {
    position: relative;
    left: 69em;
}
.ksx1 {
    position: relative;
    left: 73em;
}