p {
    text-indent: 30px
   }
   .nenbt02 {
    margin: 50px 200px;
    background-image: url("../../../../assets/IMG/bg2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000;
    background-attachment: fixed;
    color: white;
   }