<div class="wrapper">
    <div class="registration_form">
       <div class="title">
          Registration Form
       </div>
       <br>
       <p class="title1">Register Your Jackson Electronucs Product Here</p>
       <form>
          <div class="form_wrap">
             <div class="input_grp">
                <div class="input_wrap">
                   <label for="fname">First Name</label>
                   <input type="text" id="fname">
                </div>
                <div class="input_wrap">
                   <label for="lname">Last Name</label>
                   <input type="text" id="lname">
                </div>
             </div>
             <div class="input_wrap">
                <label for="email">Address #1</label>
                <input type="text" id="email1">
             </div>
             <div class="input_wrap">
                <label for="email">Address #2</label>
                <input type="text" id="email2">
             </div>
             <div class="input_grp">
                <div class="input_wrap">
                   <label for="city">City:</label>
                   <input type="text" id="city">
                </div>
                <div class="input_wrap">
                   <label for="state">State</label>
                   <input type="text" id="state">
                </div>
                <div class="input_wrap">
                   <label for="Zip">Zip</label>
                   <input type="text" id="zip">
                </div>
             </div>
             <div class="input_wrap">
                <label for="country">Country</label>
                <input type="text" id="country">
             </div>
             <hr>
             <br>
             <div class="input_wrap">
                <label for="product">Product</label>
                <select class="slc" name="product" id="select">
                   <option value="">--Please choose an option--</option>
                   <option value="sp1">Máy Tính</option>
                   <option value="sp2">Máy In</option>
                   <option value="sp3">Máy Chiếu</option>
                   <option value="sp4">Màn Hình</option>
                </select>
             </div>
             <div class="input_grp">
                <div class="input_wrap">
                   <label for="date pur">Date Purchased:</label>
                   <input type="text" id="date">
                </div>
             </div>
             <br>
             <div class="input_grp">
                <div class="input_wrap">
                   <label for="serial">Serial #:</label>
                   <input type="text" id="serial">
                </div>
             </div>
             <br>
             <div class="input_grp">
                <div class="input_wrap">
                   <label for="serial">Used For:</label>
                </div>
                <div class="choicetext">
                   <input type="radio" id="contactChoice1"
                      name="contact" value="">&nbsp;
                   <label for="contactChoice1">Home</label>&nbsp;
                   <input type="radio" id="contactChoice2"
                      name="contact" value="">&nbsp;
                   <label for="contactChoice2">Educational Institution</label>&nbsp;
                   <input type="radio" id="contactChoice3"
                      name="contact" value="">&nbsp;
                   <label for="contactChoice3">Business</label>&nbsp;
                   <br><br>
                   <input type="radio" id="contactChoice3"
                      name="contact" value="">&nbsp;
                   <label for="contactChoice3">Govermment</label>&nbsp;
                   <input type="radio" id="contactChoice3"
                      name="contact" value="">&nbsp;
                   <label for="contactChoice3">Orther</label>&nbsp;
                </div>
                <div class="input_wrap">
                </div>
             </div>
             <br>
             <div class="input_grp">
                <div class="input_wrap">
                   <label for="serial">System (Check all that apply) :</label>
                </div>
                <div class="choicetext">
                   <input type="checkbox" id="contactChoice1"
                      name="contact" value="">&nbsp;
                   <label for="contactChoice1">Windows</label>&nbsp;
                   <input type="checkbox" id="contactChoice1"
                      name="contact" value="">&nbsp;
                   <label for="contactChoice1">UNIX</label>&nbsp;
                   <br><br>
                   <input type="checkbox" id="contactChoice1"
                      name="contact" value="">&nbsp;
                   <label for="contactChoice1">Macintosh</label>&nbsp;
                   <input type="checkbox" id="contactChoice1"
                      name="contact" value="">&nbsp;
                   <label for="contactChoice1">Orther</label>&nbsp;
                </div>
                <div class="input_wrap">
                </div>
             </div>
             <br>
             <hr>
             <div class="input_wrap">
                <label for="Comments">Comments</label>
                <textarea rows="5" cols="75" name="text" placeholder="Enter text"></textarea>
             </div>
             <div class="input_grp">
                <div class="input_wrap">
                </div>
                <div class="input_wrap">
                   <input type="submit" value="Register Now" class="submit_btn">
                </div>
                <div class="input_wrap">
                   <input type="submit" value="Cancel" class="submit_btn">
                </div>
                <div class="input_wrap">
                </div>
             </div>
          </div>
       </form>
    </div>
 </div>