h1
{
    color: rgb(255, 0, 154);
    background-color: rgb(254, 204, 255);
    padding: 15px;
    text-align: center;
}
hr { width:25% }
.style01{
 background-color:rgb(255, 255, 205);
 padding:10px;
 font-style:italic;
 text-align:center;
}
.para1 {
 color:rgb(1,76,243);
}
.para2{
 color:rgb(152,2,162);
}
.para3{
 color:rgb(1,152,21);
}